<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercici2</title>
    <link rel="stylesheet" href="../assets/css/exercici02.css">
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/Exercici02.js" defer></script>
</head>

<body>

    <div class="content"> 
   
    <form action="check_major5.php">

       Número: <input type="number" placeholder="inputNum" name="numero">
        <input type="button" id="major5" value="MAJOR QUE 5">
        <input type="button" id="mostrarNumeros" value="MOSTRAR NÚMEROS">
    </form>
    
    </div>

  

    <div id="resultat"></div>
    <div id="error-message" style="display: none;"></div>
    <div id="error-message2" style="display: none;"></div>
    <div id="error-message3" style="display: none;"></div>
    <div id="numerosLista"></div>

</body>

</html>