<!DOCTYPE html>
<html lang="ca">


<head>
    <meta charset="UTF-8">
    <title>Exercici 01</title>
    <link rel="stylesheet" href="../assets/css/exercici02.css">
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/Exercici01.js" defer></script>
</head>

<body>

    <form action="Exercici01.php">
        <div class="content">
            <input type="text" id="valor" name="valor" placeholder="Introdueix un valor:">
            <input type="button" id="enviar" value="Enviar">
        </div>

    </form>
    <div id="resultat">


    </div>

</body>

</html>